body
{
    margin: 0 0 0 0;
    background: url("../Images/fundo.jpg");
}

table
{
    border-style: solid;
    border-width: 1px;
}
table tr th, table tr td
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
}

fieldset
{
    background-color: #c1bdbd;
    padding: 5px 5px 5px 5px !important;
}

.display-label, .editor-label
{
    font-weight: bold;
}

.txtMedium
{
    width: 200px;
}
.txtLarge
{
    width: 400px;
}

.msg-atencao
{
    color: #f00;
}

.titulo-app
{
    /*background-color: #0019b1;*/
    background-color: #3F9FD9;
    float: left;
}
    .titulo-app h1
    {
        margin: 0 0 0 0;
        color: #fff !important;
        text-align: center;
    }

.opcoes
{
    /*float:right;*/
    /*clear:both;*/
    float:right;
    color: #000000;
}

.logoMM
{
    /*position: absolute;*/ 
    /*top: 7px;*/ 
    left: 28px; 
    /*height: 67px;*/ 
    width: 70px;
    float:left;
}
.tituloMM
{
    /*position: absolute;*/ 
    /*top: 17px;*/ 
    left: 106px; 
    height: 40px; 
    float:left;
    width: 250px;
}

.conteudo
{
    margin: 50px 5px 0px 5px;
}
.conteudo h2
{
    border-bottom: inset;
    margin-bottom: 5px;
}

#logo
{
    margin: 200px 0px 0px 450px;
}

.alternativas label
{
    display: inline;
}

.classCerto
{
    color: #f00;
    font-weight: bolder;
}

.navbar .navbar-inner
{
    /*background-color: #3F9FD9;
    background-image: linear-gradient(#369BD7, #369BD7 90%, #61B0DF);
    background-repeat: no-repeat;*/
    background: url("../Images/Gradiente_prata.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 0px;
    color: #000000;
}

.navbar .nav > li > a {
    margin-top: 20px;
    color: #000000;
    /*float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
}
.navbar .nav > li > a:hover
{
    color: #000000;
    background-color: rgb(128, 128, 128);
}

#menu {
    /*margin-top: 50px;*/
}

.content-wrapper {
    /*height: 75px;*/
}

header .content-wrapper {
    margin: 0;
    /*background: url("../Images/Gradiente_prata.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 20px;*/
}


#divPergunta
{
    margin: 5px;
    padding: 5px;
    position: relative;
    float:left;
    border: 1px solid rgb(128, 128, 128);
    width: 20%;
    min-height: 550px;
    background-color: #ffffff;
}

#divPlayers
{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(128, 128, 128);
    position: relative;
    float: left;
    width: 20%;
    min-height: 550px;
    background-color: #ffffff;
}
    #divPlayers ul
    {
        list-style-type: none;
        margin: 5px;
    }
        #divPlayers ul li span
        {
            padding: 15px 5px 15px 5px;
        }

#divParticipantes
{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(128, 128, 128);
    position: relative;
    float: right;
    width: 20%;
    min-height: 550px;
    background-color: #ffffff;
}
    #divParticipantes ul
    {
        list-style-type: none;
        margin: 5px;
    }
        #divParticipantes ul li span
        {
            padding: 15px 5px 15px 5px;
        }

.tema-jogador
{
    float:left;
    width: 100%;
}
.acertos-erros-jogador
{
    float:left;
    width: 55%;
}
#divBody
{
    clear: both;
    margin-top: 80px;
}

#divPersonagem
{
    float: left;
    margin-right: 5px;
}
    #divParticipantes h3
    {
        text-align: center;
    }


#divAlternativas
{
    margin-top: 15px;
    float:left;
}
    #divAlternativas h3
    {
        width: 200px;
        text-align: center;
    }


#divCartas
{
    float:left;
    width: 120px;
    height: 114px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#divSeta
{
    float:left;
    width: 120px;
    height: 100px;
    /*margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;*/
}
.alternativa-off
{
    color: #000000;
}

.alternativa-on
{
    color: #f00;
    font-weight: bold;
}

#divTextoPergunta
{
    height: 95px;
    display: table;
}

#divTextoPergunta h3
{
    /*color: #3F9FD9;
    font: bold;*/
    text-align: right;
    height: 100%;
    align-content: center;
    vertical-align: middle;
}

.dados-jogador
{
    margin-top: 10px;
    border: 1px dashed #000000;
}

#divCerto
{
    display: none;
}

#divErrado
{
    display: none;
}