<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=Leandro-PC\SQL2012;Initial Catalog=MasterMind;Persist Security Info=True;User ID=sa;Password=sa123;Connect Timeout=1800;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>