<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <script src="~/Scripts/BO/additional-methods.min-1.11.1.js"></script>
        <script src="~/Scripts/BO/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/BO/jquery.validate.min-1.11.1.js"></script>
        <script src="~/Scripts/BO/jquery.validate.unobtrusive.min.js"></script>

        <link href="~/Styles/backoffice.css" rel="stylesheet" />

        <div class="conteudo">
            @RenderBody()
        </div>
    </body>
</html>
